.container {
  margin: 0;
  color: #7d9338;
  font: 600 16px/18px "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
}
.container,
.container:after,
.container:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
#forgot {
  color: inherit;
  text-decoration: none;
}

.loginWrap {
  width: 100%;
  min-height: 670px;
  height: 100%;
  position: relative;
  background: url("./assets/login.background-blur.jpg") no-repeat center;
  box-shadow: 0 12px 15px 0 §(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.loginHtml {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 90px 70px 50px 70px;
}
.loginHtml .signInHtm,
.loginHtml .signUpHtm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.loginHtml .signIn,
.loginHtml .signUp,
.loginForm .group .check {
  display: none;
}
.loginHtml .tab,
.loginForm .group .label,
.loginForm .group .button {
  text-transform: uppercase;
}
.loginHtml .tab {
  font-size: 22px;
  padding-bottom: 5px;
  margin: 0 15px 30px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.loginHtml .signIn:checked + .tab,
.loginHtml .signUp:checked + .tab {
  color: #fff;
  border-color: #3c4d1d;
}
.loginForm {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.loginForm .group {
  margin-bottom: 20px;
}
.loginForm .group .label,
.loginForm .group .input,
.loginForm .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.loginForm .group .input,
.loginForm .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.loginForm .group input[data-type="password"] {
  -webkit-text-security: circle;
}
.loginForm .group .label {
  color: #aaa;
  font-size: 12px;
}
.loginForm .group .button {
  background: #3c4d1d;
  cursor: pointer;
}
.loginForm .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.loginForm .group label .icon:before,
.loginForm .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.loginForm .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.loginForm .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.loginForm .group .check:checked + label {
  color: #fff;
}
.loginForm .group .check:checked + label .icon {
  background: #1161ee;
}
.loginForm .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.loginForm .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.loginHtml .signIn:checked + .tab + .signUp + .tab + .loginForm .signInHtm {
  transform: rotate(0);
}
.loginHtml .signUp:checked + .tab + .loginForm .signUpHtm {
  transform: rotate(0);
}
.footLnk {
  cursor: pointer;
}

.fbBtn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 48px;
  border-radius: 30px;
  color: #fff;
  font-size: 100%;
  cursor: pointer;
  text-transform: uppercase;
}
.fbBtn span {
  font-weight: bold;
  color: #7d9338;
}
